<div class="slideshow">
  <ul>
    <li><%= image_tag("quinoa-1.jpg") %>
      <div class="slideshow-text">
        <h1>Startup Nation O'Quinoa</h1>
        <p>La Macronito-Véganerie n'est jamais finie</p>
      </div>
    </li>
    <li><%= image_tag("quinoa-2.jpg") %></li>
    <li><%= image_tag("quinoa-3.jpg") %></li>
  </ul>
    <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlide(-1)">&#10094;</a>
  <a class="next" onclick="plusSlide(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
</div>

<div class="container">

  <ul class="tabs">
    <li class="tab current" data-tab="tab-1">A propos</li>
    <li class="tab" data-tab="tab-2">Recette</li>
    <li class="tab" data-tab="tab-3">Contact</li>
  </ul>

  <div id="tab-1" class="tab-content current">
    <h2>Le Quinoa, qu'est-ce donc Jamie?</h2>
    <p>Le quinoa (Chenopodium quinoa) est une espèce de plante herbacée annuelle de la famille des Amaranthaceae selon la classification phylogénétique ou de celle des Chenopodiaceae. C'est une pseudo-céréale, plutôt qu'une véritable céréale, car ce n'est pas une herbe. Le quinoa est phylogénétiquement plus proche des espèces telles que la betterave, l'épinard et l'amarante.</p>
    <h3>Des origines sud-américaines</h3>
    <p>Cette plante traditionnelle est cultivée depuis plus de 5 000 ans sur les hauts plateaux d'Amérique du Sud. Comme le haricot, la pomme de terre, le maïs, le quinoa était à la base de l'alimentation des civilisations précolombiennes, mais, contrairement à ces dernières, il n'a pas retenu l'attention des conquérants espagnols à cause de la teneur en saponine de l'enveloppe de ses graines non écorcées, et du fait que la farine qui en est tirée n'est pas panifiable en raison de l'absence de gluten.</p>

    </div>

    <div id="tab-2" class="tab-content">
      <h2>Faire des cookies au Quinoa #Miam </h2>

      <p>
        1. Pick your size <br>
        2.  Pick your base <br>
        3.  Pick your vegetable and crab mayo <br>
        4.  Pick your proteins <br>
        5.  Pick your sauce <br>
           </p>



      <h3>Ingredients pour 20 personnes </h3>

      Pépites de chocolat noir  : 67 g <br>
      Farine de blé type 55  : 147 g <br>
      Cassonade  : 80 g <br>
      Beurre  : 83 g <br>
      Quinoa cuit  : 33 g <br>
      Oeuf entier  : 0,75 <br>
      Levure chimique  : 0,25 sachet <br>
      Sel  : 0,75 pincée <br>


    </div>

    <div id="tab-3" class="tab-content">
      <h2>Tu veux rejoindre notre communauté?</h2>
      <p>deguster@quinoa4life.org</p>

      <!-- Your content here -->
    </div>
  </div><!-- container -->
