<nav>
  <div id="menu">
    <div class="logo">
      <%= image_tag 'logo-quinoa.png', :width => 300, class:"logo" %>
    </div>
    <div id="titre">
      <p> Startup Nation O'Quinoa maggle</p>
    </div>
  </div>
</nav>
