<nav>
  <div id="menu">
    <div class="logo">
      <%= image_tag 'logo-quinoa.png', :width => 150, class:"logo" %>
    </div>
    <div id="titre">
      <p> La Macronito-Véganerie n'est jamais finie.</p>
    </div>
  </div>
</nav>
